*{
  margin: 0;
  box-sizing: border-box;
}

.App{
 height: 100vh;
 width: 100vw;

 display: grid;
 grid-template-columns: 1fr 1fr;
}

.left{
  display: flex;
}

.left img{
  height: 100vh;
  width: 100%;
}

.right{
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.label{
  display: block;
  font-size: 14px; 
  font-weight: 600;
  color: grey;
  margin-bottom: 8px;
}

.input{
  border-radius: 8px;
  border: 2px solid grey;
  padding: 16px;
  width: 100%;
}

.btn{
  border:none;
  width: 100%;
  padding: 16px 24px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.form-box{
  margin-top: 30%;
  display: grid;
  gap:24px;
}